@page "/LoginUsers"
@inject LoginUserService loginService
@inject DataService dataService
@inject IToastService toastService
@inject IDialogService dialogService
<PageTitle>Felhasználók</PageTitle>

<h3>Felhasználók</h3>
@if (dataService.actualUser != null)
{
    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => NewUser())">Új felhasználó</FluentButton>
    @if (users.Count() == 0)
    {
        <p>Nincs elmentett felhasználó.</p>
    }
    else
    {
        <FluentDataGrid Items="@users" AutoFit="true">
            <PropertyColumn Property="u => u.Name" Title="Név" />
            <PropertyColumn Property="u => u.UserName" Title="Felhasználónév" />
            <PropertyColumn Property="u => u.Role" Title="Szerepkör" />
            <PropertyColumn Property="u => u.FpId" Title="FP Id" />
            <PropertyColumn Property="@((u) => String.IsNullOrWhiteSpace(u.FingerPrint1)?"Nincs":"Van")" Title="1. Ujj" />
            <PropertyColumn Property="@((u) => String.IsNullOrWhiteSpace(u.FingerPrint2)?"Nincs":"Van")" Title="2. Ujj" />
            <PropertyColumn Property="u => u.UpdatedAt.ToString()" Title="Utolsó frissítés" />
            <TemplateColumn Title="Műveletek">
                <FluentButton Appearance="Appearance.Accent" OnClick="@(() => EditUser(context))">Szerkesztés</FluentButton>
                <FluentButton Appearance="Appearance.Accent" OnClick="@(() => DeleteUser(context))">Törlés</FluentButton>
                <FluentButton Appearance="Appearance.Accent" OnClick="@(() => NewPass(context))">Új jelszó</FluentButton>
            </TemplateColumn>
        </FluentDataGrid>
    }
}
else
{
    <FluentLabel>Jelentkezz be a folytatáshoz!</FluentLabel>
}
@code {
    IQueryable<LoginUser> users = new List<LoginUser>().AsQueryable();
    protected override async Task OnInitializedAsync()
    {
        loginService.OnMessage += (sender, args) =>
        {
            toastService.ShowError(args.Message);
            Console.WriteLine($"Message from LoginUserService: {args.Message}");
        };
        var loginUsers = await loginService.GetAllUsers();
        if (loginUsers != null)
        {
            users = loginUsers.AsQueryable();
        }
        else
        {
            Console.WriteLine("No users found.");
        }
    }
    private async void NewUser()
    {
        DialogParameters parameters = new()
        {
            TitleTypo = Typography.H2,
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };
        IDialogReference dialog = await dialogService.ShowDialogAsync<NewLoginUserDialog>(new NewLoginUser(), parameters);
        DialogResult? result = await dialog.Result;
        try
        {
            if (result is not null && result.Data is not null)
            {
                var req = ((NewLoginUser)result.Data);
                if (req == null)
                {
                    toastService.ShowError("Nem sikerült a felhasználót elmenteni az adatbázisba!");
                    return;
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
    private async void EditUser(LoginUser user)
    {
        DialogParameters parameters = new()
        {
            TitleTypo = Typography.H2,
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };

        IDialogReference dialog = await dialogService.ShowDialogAsync<LoginUserDialog>(user, parameters);
        DialogResult? result = await dialog.Result;
        try
        {
            if (result is not null && result.Data is not null)
            {
                var req = await loginService.UpdateUser((LoginUser)result.Data);
                if (!req)
                {
                    toastService.ShowError("Nem sikerült a felhasználót elmenteni az adatbázisba!");
                    return;
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
    private void DeleteUser(LoginUser user)
    {
        toastService.ClearAll();
        toastService.ShowConfirmationToast(new ToastParameters<ConfirmationToastContent>()
        {
            Intent = ToastIntent.Success,
            Title = "Biztos benne, hogy törölni szeretné a felhasználót?",
            Timeout = 4000,
            PrimaryAction = "Igen",
            OnPrimaryAction = EventCallback.Factory.Create<ToastResult>(this, async () => { await loginService.DeleteUser(user.Id);}),
            SecondaryAction = "Mégse",
            OnSecondaryAction = EventCallback.Factory.Create<ToastResult>(this, () => { return;}),
        });
    }
    private async void NewPass(LoginUser user)
    {
        DialogParameters parameters = new()
        {
            TitleTypo = Typography.H2,
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };
        IDialogReference dialog = await dialogService.ShowDialogAsync<NewPassDialog>(string.Empty, parameters);
        DialogResult? result = await dialog.Result;
        try
        {
            if (result is not null && result.Data is not null)
            {
                var req = loginService.HashPassword((string)result.Data, user.Id);
                if (req.Length == 0)
                {
                    toastService.ShowError("Nem sikerült a felhasználó jelszavát frissíteni!");
                    return;
                }
                user.Password = req;
                if (!await loginService.UpdateUser(user)) toastService.ShowError("Nem sikerült a felhasználó jelszavát elmenteni az adatbázisba!");
                else toastService.ShowSuccess("Sikeresen frissítette a felhasználó jelszavát!");
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}
