@page "/"
@using FingerPrintService
@using SourceAFIS
@using ZkTecoFingerPrint
@inject IFPService fpService
@inject LoginUserService loginService
@inject UserService userService
@inject DataService dataService
@inject SyncService syncService
@inject EtkezesService etkezesService
@inject ILogger<Home> logger
@inject IToastService toastService
@inject IDialogService dialogService
@inject NavigationManager navigationManager
@implements IDisposable

<PageTitle>Kezdőlap</PageTitle>
<FluentLayout Style="margin-top: 10px;">
    <FluentHeader>
        Étkezés ellenőrző alkalmazás
        <FluentLabel Style="margin-left: 10px; font-size: 0.9em; color: var(--neutral-foreground-warning);">
            @errorMessage
        </FluentLabel>
        <FluentSpacer />
        @if (String.IsNullOrWhiteSpace(identifiedUser?.UserName) == false)
        {
            <FluentLabel>Azonosított felhasználó: @identifiedUser.Name</FluentLabel>
            <FluentSpacer />
            <FluentButton Appearance="Appearance.Lightweight" OnClick="@(() => dataService.SetLoginUser(null))">Kilépés</FluentButton>
        }
        else
        {
            <FluentButton Appearance="Appearance.Lightweight" OnClick="@(() => LoginPage())">Belépés</FluentButton>                    
        }
        <FluentSpacer />
        @if (isDeviceConnected)
        {
            <FluentIcon Value="@(new Icons.Filled.Size20.DeviceMeetingRoom())" Color="Color.Neutral"/>
        }
        else 
        {
            <FluentIcon Value="@(new Icons.Regular.Size20.DeviceMeetingRoomRemote())" Color="Color.Disabled" />
        }
    </FluentHeader>
    <FluentBodyContent Style="height: auto;">
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween" HorizontalGap="15">
            <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" VerticalGap="10" Width="500px" HorizontalAlignment="HorizontalAlignment.Center">
                <img src="@adatok[0].Image" alt="Enabled" style="width: 500px; height: 500px;" />
                <FluentLabel Typo="Typography.H5">@adatok[0].Name</FluentLabel>
            </FluentStack>
            <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" VerticalGap="10">
                <FluentCard MinimalStyle="true" Height="200px" Width="200px">
                    <img src="@adatok[1].Image" alt="Enabled" style="width: 150px; height: 150px;" />
                    <FluentLabel Typo="Typography.H6">@adatok[1].Name</FluentLabel>
                </FluentCard>
                <FluentCard MinimalStyle="true" Height="200px" Width="200px">
                    <img src="@adatok[2].Image" alt="Enabled" style="width: 150px; height: 150px;" />
                    <FluentLabel Typo="Typography.H6">@adatok[2].Name</FluentLabel>
                </FluentCard>

            </FluentStack>
            @if(String.IsNullOrWhiteSpace(identifiedUser?.UserName) == false)
            {
                <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" VerticalGap="10" Width="150px">
                    <FluentButton Appearance="Appearance.Neutral" OnClick="() => { errorMessage = string.Empty; fpService.Open(); }">Indítás</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="async () => { errorMessage = string.Empty; await syncService.GetSyncDates(); }">Szinkronizáció</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => navigationManager.NavigateTo("/reg"))">Regisztráció</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => navigationManager.NavigateTo("/loginusers"))">Felhasználók</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => navigationManager.NavigateTo("/users"))">Étkezők</FluentButton>
               </FluentStack>
            }
        </FluentStack>
        <FluentGrid Justify="JustifyContent.SpaceBetween"
                    Style="background-color: var(--neutral-layer-3); overflow: hidden; resize: horizontal; padding: 4px;">
            <FluentGridItem Style="min-width: 200px;" Justify="JustifyContent.Center">
            </FluentGridItem>
            @if(String.IsNullOrWhiteSpace(identifiedUser?.UserName) == false)
            {
            <FluentGridItem Justify="JustifyContent.FlexEnd" Gap="10px">
                <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Right">
                </FluentStack>
                </FluentGridItem>
            }
        </FluentGrid>
    </FluentBodyContent>
    <FluentFooter>
        2026.03.22 19:42
        <FluentSpacer/>
        <p>@message</p>
        <FluentSpacer/>
        Verzió: 0.6.1
    </FluentFooter>
</FluentLayout>
@code {
    string message = "A jók", errorMessage = "A hibák";
    bool isDeviceConnected = false;
    LoginUser? identifiedUser = null;
    List<FingerPrintData> fingerPrints = [];
    Adat[] adatok = new Adat[4];
    private record Adat(string Image, string Name, string Menu);
    protected override async Task OnInitializedAsync()
    {
        fpService.MessageChanged += OnMessageChanged!;
        fpService.FingerPrintRegistered += OnRegistered!;
        fpService.SuccessIdentification += OnIdentificationSuccess!;
        adatok[0] = new Adat("images/question-mark-circle-outline-icon.svg", "0", "");
        adatok[1] = new Adat("images/question-mark-circle-outline-icon.svg", "1", "");
        adatok[2] = new Adat("images/question-mark-circle-outline-icon.svg", "2", "");
        adatok[3] = new Adat("images/question-mark-circle-outline-icon.svg", "3", "");
        fingerPrints.AddRange(await loginService.GetAllLoginUserFPTmp());
        fingerPrints.AddRange(await userService.GetAllUserFPTmp());
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        isDeviceConnected = fpService.DeviceConnected();
        if (firstRender)
        {
            if(isDeviceConnected)
            {
                toastService.ShowSuccess("Ujjlenyomat olvasó eszköz csatlakoztatva.");
            }
            else
            {
                toastService.ShowError("Nincs csatlakoztatva ujjlenyomat olvasó eszköz!");
                StateHasChanged();
            }
            identifiedUser = dataService.GetLoginUser();
            @* var users = dataService.GetUsers().ToList();
            foreach (var item in users)
            {
                if (userService.UserExists(item.Id))
                {
                    continue;
                }
                userService.AddUser(item);
            } *@
            //Todo: Ide teljesen más lesz!
            // if (fpService.ClearDb()) 
            // { 
            //     await dataService.LoginUsersLoad();
            //     await userService.UserLoading();
            //     fpService.SwitchIdentifyMode(true);
            //     errorMessage = "Azonosítás bekapcsolva.";
            // }
            // else toastService.ShowError("Nem sikerült törölni az adatbázist, az azonosítás nem kapcsolható be!");
            StateHasChanged();
        }
        if (!isDeviceConnected){
            await fpService.Open();
        }
    }
    private async void OnMessageChanged(object sender, FPMessageChangedEventArgs e)
    {
        if (e.IsError)
        {
            // Handle error messages
            if (e.Code == -17) // Assuming 100 is the code for fingerprint device connection error
            {
                if (!ClickedMatching())
                {
                    toastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                        {
                            Intent = ToastIntent.Error,
                            Title = "Nem regisztrált ujjlenyomat",
                            TopCTAType = ToastTopCTAType.Timestamp,
                            Timeout = 8000,
                            PrimaryAction = "Igen",
                            OnPrimaryAction = EventCallback.Factory.Create<ToastResult>(this, ClickedRegistration),
                            Content = new CommunicationToastContent()
                            {
                                Details = "Szeretné regisztrálni az ujjlenyomatott?",
                            },
                        });
                    await InvokeAsync(() => StateHasChanged());
                    return;
                }
                await InvokeAsync(()=>StateHasChanged());
                return;
            }
            errorMessage = e.Message;
            toastService.ShowError(e.Message);
            Console.WriteLine($"Error: {errorMessage} Code: {e.Code}");
        }
        else
        {
            // Handle success messages
            message = e.Message;
            toastService.ShowSuccess(e.Message);
            // if (e.Code == 100) // Assuming 100 is the code for successful fingerprint device connection
            // {
            //     isDeviceConnected = true;
            // }
            Console.WriteLine($"Success: {message} Code: {e.Code}");
        }
    }
    private async void ClickedRegistration()
    {
        var dialog = await dialogService.ShowDialogAsync<SearchUserDialog>(new DialogParameters()
        {
            //Height = "400px",
            Title = $"Felhasználó  keresése",
            PreventDismissOnOverlayClick = true,
            PreventScroll = true,
        });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            dataService.SetUser((User)result.Data);
            navigationManager.NavigateTo("/fpreg");
        }
    }
    private bool ClickedMatching()
    {
        var res=fpService.Matching(fingerPrints);
        if (res > 0)
        {
            if (LoginUserIdentify(res) || UserIdentify(res)) return true;
        }
        return false;
    }
    // private void OnRegistationSuccess(object sender, FPRegisteredEventArgs e) 
    // {
    //     message = e.FingerPrint; 
    //     toastService.ShowSuccess(e.FingerPrint); 
    //     Console.WriteLine($"Registration Success: {message}"); 
    // }
    // Add this method to handle the SuccessIdentification event
    private void OnIdentificationSuccess(object? sender, FPSuccessIdentificationEventArgs e)
    {
        if(LoginUserIdentify(e.Fid)) return;
        UserIdentify(e.Fid);
    }
    private bool LoginUserIdentify(int fpId)
    {
        if (loginService.HandleSuccessfulIdentification(fpId))
        {
            if (identifiedUser == null || String.IsNullOrWhiteSpace(identifiedUser.UserName))
            {
                // Handle successful login
                identifiedUser = loginService.GetUserByFpId(fpId);
                toastService.ShowSuccess($"Sikeres azonosítás! Üdvözlünk, {identifiedUser.Name}!"); //TODO: Personalizált üdvözlés a felhasználó nevével, belépés felajánlása
                toastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                {
                    Intent = ToastIntent.Error,
                    Title = "Szeretne belépni?",
                    TopCTAType = ToastTopCTAType.Timestamp,
                    Timeout = 8000,
                    PrimaryAction = "Igen",
                    OnPrimaryAction = EventCallback.Factory.Create<ToastResult>(this, () => { dataService.SetLoginUser(identifiedUser); StateHasChanged(); }),
                    Content = new CommunicationToastContent()
                    {
                        Details = "Szeretne belépni?",
                    },
                });
                return true;
            }
            else if (identifiedUser.FpId != fpId)
            {
                // Handle case where a different user is identified while someone is already logged in
                toastService.ShowWarning($"Egy másik felhasználó azonosítva! Kérem {identifiedUser.Name} jelentkezzen ki először.");
                return true;
            }
            else
            {
                // Handle case where the same user is identified again (optional)
                toastService.ShowInfo($"Már belépet {identifiedUser.Name}!");
                return true;
            }
        }
        return false;
    }
    private bool UserIdentify(int fpId)
    {
        if (userService.HandleSuccessfulIdentification(fpId))
        {
            logger.LogInformation($"User with FP ID {fpId} successfully identified.");
            // Handle successful user identification
            var adat = userService.GetUserByFId(fpId);
            if (adat == null)
            {
                AdatRendezo(new Adat("images/anonymous-user-icon.svg", "Ismeretlen", ""));
                toastService.ShowWarning($"Hiba lépet fel az étkező lekérésekor FpId: {fpId}");
            }
            else
            {
                var etkezo = etkezesService.GetEtkezo(adat.Id);
                if (etkezo == null)
                {
                    AdatRendezo(new Adat("images/red-x-line-icon.svg", adat.Name, ""));
                }
                else
                {
                    if (etkezo.Adag.Contains("kis", StringComparison.CurrentCultureIgnoreCase))
                    {
                        if (etkezo.Menu.Contains("A")) AdatRendezo(new Adat("images/bubble-letter-a-lowercase-green-icon.svg", etkezo.Name, etkezo.Menu));
                        else AdatRendezo(new Adat("images/bubble-letter-b-lowercase-green-icon.svg", etkezo.Name, etkezo.Menu));
                    }
                    else
                    {
                        if (etkezo.Menu.Contains("A")) AdatRendezo(new Adat("images/bubble-letter-a-green-icon.svg", etkezo.Name, etkezo.Menu));
                        else AdatRendezo(new Adat("images/bubble-letter-b-green-icon.svg", etkezo.Name, etkezo.Menu));
                    }
                }
                toastService.ShowSuccess("Sikeres azonosítás! Üdvözlünk az étkezők között!");
            }
            return true;
        }
        return false;
    }
    private void AdatRendezo(Adat adat)
    {
        if (adatok[2] != null) adatok[3] = adatok[2];
        if (adatok[1] != null) adatok[2] = adatok[1];
        if (adatok[0] != null) adatok[1] = adatok[0];
        adatok[0] = adat;
    }
    private async void LoginPage()
    {
        LoginData? loginData = new();
        DialogParameters parameters = new()
        {
            Title = "Belépés",
            PreventDismissOnOverlayClick = true,
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };

        IDialogReference dialog = await dialogService.ShowDialogAsync<LoginDialog>(loginData, parameters);
        DialogResult? result = await dialog.Result;

        if (result.Data is not null)
        {
            loginData = result.Data as LoginData;
            if(loginService.ValidateUser(loginData!.UserName, loginData.Password))
            {
                identifiedUser = loginService.GetUserByUserName(loginData.UserName);
                dataService.SetLoginUser(identifiedUser);
                toastService.ShowSuccess($"Belépés sikeres! Üdvözlünk, {identifiedUser.Name}!");
                StateHasChanged();
            }
            else
            {
                toastService.ShowError("Hibás felhasználónév vagy jelszó. Kérem próbálja újra.");
            }
        }
        else
        {
            toastService.ShowInfo($"Dialog closed - Canceled: {result.Cancelled}");
        }
    }
    private void OnRegistered(object sender, FPRegisteredEventArgs e)
    {
        //message = e.FingerPrint;
        toastService.ShowSuccess(e.Fid.ToString());
        Console.WriteLine($"Registration Success: {e.Fid}");
    }
    public void Dispose()
    {
        fpService.Close();
        fpService.MessageChanged -= OnMessageChanged!;
        fpService.FingerPrintRegistered -= OnRegistered!;
        fpService.SuccessIdentification -= OnIdentificationSuccess!;
    }
}