@page "/users"
@inject UserService userService
@inject DataService dataService
@inject ILogger<Users> logger
@inject IToastService toastService
@inject IDialogService dialogService
@inject NavigationManager navigationManager
@implements IDisposable
<FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => navigationManager.NavigateTo("/"))">Vissza a főoldalra</FluentButton>
    <FluentSpacer />
    <h3>Diákok karbantartása</h3>
</FluentStack>
<PageTitle>Diákok karbantartása</PageTitle>
@if (isUserLogin)
{
    <FluentDataGrid Items="@users">
    <PropertyColumn Property="u=>u.Name" Title="Név" />
    <PropertyColumn Property="u => u.Osztaly" Title="Osztály" />
    <PropertyColumn Property="u => u.Etkezik" Title="Étkezik?" />
    <PropertyColumn Property="u => u.FpId" Title="Id" />
        <PropertyColumn Property="@((u) => String.IsNullOrWhiteSpace(u.FingerPrint1) ? "Nincs" : "Van")" Title="1. Ujj" />
        <PropertyColumn Property="@((u) => String.IsNullOrWhiteSpace(u.FingerPrint2) ? "Nincs" : "Van")" Title="2. Ujj" />
    <PropertyColumn Property="u => u.Updated" Title="Frissítés" />
    <TemplateColumn Title="Műveletek">
        <FluentButton Appearance="Appearance.Accent" OnClick="@(() => EditUser(context))">Szerkesztés</FluentButton>
        <FluentButton Appearance="Appearance.Accent" OnClick="@(() => DeleteUser(context))">Törlés</FluentButton>
    </TemplateColumn>
</FluentDataGrid>
}
else
{
    <FluentLabel>Jelenleg nincs bejelentkezve felhasználó. Kérem jelentkezzen be egy fiókkal a felhasználók megtekintéséhez.</FluentLabel>
    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => navigationManager.NavigateTo("/"))">Bejelentkezés</FluentButton>
}
@code {
    IQueryable<User> users = new List<User>().AsQueryable();
    bool isUserLogin = false;
    protected override async Task OnInitializedAsync()
    {
        dataService.DataServiceMessage += (sender, args) =>
        {
            logger.LogInformation("DataService üzenet: {Message}", args.Message);
            toastService.ShowInfo(args.Message);
        };
        isUserLogin = dataService.IsUserLogin();
        users = userService.GetAllUsers().AsQueryable();
    }
    private async Task EditUser(User user)
    {
        DialogParameters parameters = new()
        {
            TitleTypo = Typography.H2,
            Width = "500px",
            Modal = true,
            PreventScroll = true
        };

        IDialogReference dialog = await dialogService.ShowDialogAsync<UserDialog>(user, parameters);
        DialogResult? result = await dialog.Result;
        try
        {
            if (result is not null && result.Data is not null)
            {
                var req = await userService.UpdateUser((User)result.Data);
                if (!req)
                {
                    toastService.ShowError("Nem sikerült a felhasználót elmenteni az adatbázisba!");
                    return;
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
    private void DeleteUser(User user)
    {
        toastService.ClearAll();
        toastService.ShowConfirmationToast(new ToastParameters<ConfirmationToastContent>()
        {
            Intent = ToastIntent.Success,
            Title = "Biztos benne, hogy törölni szeretné a diákot?",
            Timeout = 4000,
            PrimaryAction = "Igen",
            OnPrimaryAction = EventCallback.Factory.Create<ToastResult>(this, async () => { await userService.DeleteUser(user.Id); }),
            SecondaryAction = "Mégse",
            OnSecondaryAction = EventCallback.Factory.Create<ToastResult>(this, () => { return; }),
        });
    }
    public void Dispose()
    {
        dataService.DataServiceMessage -= (sender, args) =>
        {
            logger.LogInformation("DataService üzenet: {Message}", args.Message);
            toastService.ShowInfo(args.Message);
        };
    }
}
